[Unit]
Description=Jupyter Notebook Server
Slice=background.slice

[Install]
WantedBy=default.target

[Service]
Type=simple
ExecStart=/usr/bin/jupyter lab --ip='*' --port=8888 --no-browser
Restart=always
RestartSec=10
