#!/bin/bash

# Safer rm/mv/cp by default
alias rm='rm -vi'
alias mv='mv -vi'
alias cp='cp -vi'

alias ll='ls -l'
alias la='ls -a'
alias lla='ls -la'

# More userfriendly output from ls
# shellcheck disable=2010
if ls --version 2>/dev/null | grep -qm1 GNU; then
    # TODO dircolors / LS_COLORS
    alias ls='ls -Fhb --time-style=long-iso --color=auto'
else
    # TODO export CLICOLOR=1 LSCOLORS=XXX
    alias ls='ls -Fhb'
fi

# Have chmod print changes
if chmod --version 2>/dev/null | grep -qm1 GNU; then
    alias chmod='chmod -c'
else
    alias chmod='chmod -v'
fi

# Have chown print changes
if chown --version 2>/dev/null | grep -qm1 GNU; then
    alias chown='chown -c'
else
    alias chown='chown -v'
fi
