#!/bin/sh

alias ls='ls -Fhb --time-style=long-iso --color=auto'
alias ll='ls -l'
alias la='ls -a'
alias lla='ls -la'

alias rm="rm -vi"
alias mv="mv -vi"
alias cp="cp -vi"

alias chmod="chmod -c"
alias chown="chown -c"

alias ps="ps --forest -w"

alias tnw="quotecmd -o tmux new-window --"
alias tsh="quotecmd -o tmux split-window -h --"
alias tsv="quotecmd -o tmux split-window -v --"
