[submodule ".zsh/zsh-completions"]
	path = .zsh/zsh-completions
	url = gh:zsh-users/zsh-completions
[submodule ".zsh/zsh-history-substring-search"]
	path = .zsh/zsh-history-substring-search
	url = gh:zsh-users/zsh-history-substring-search
