# Ignore everything by default
/*

# Then start whitelisting
!.gitignore
!.gitconfig
!.gitmodules

!README.md
!TODO.md

!bin/

!.vimrc
!.vim/

!.nvimrc
!.nvim/

!.aliases
!.dircolors

!.profile
!.profile.d
!.vardirs

!.inputrc

!.bash_profile
!.bashrc

!.zlogin
!.zshenv
!.zshrc
!.zsh/

!.xinitrc
!.xsession
!.Xresources

!.screenrc
!/.tmux*.conf
/.tmuxline.conf

!.config/

!.terminfo.src/

!.ipython/

!.ssh/

# File types that need to be ignored anywhere
.DS_Store
.*.sw?
