.*.sw?

/*

!.gitignore

!bin/

!.vimrc
!.vim/
.vim/undo
.vim/swap
.vim/doc/*
.vim/.netrwhist

!.profile
!.profile.d

!.bash_profile
!.bashrc

!.zshenv
!.zshrc
!.zsh/

!.xinitrc
!.xsession
!.Xresources
