[submodule ".vim/bundle/surround"]
	path = .vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/repeat"]
	path = .vim/bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule ".vim/bundle/speeddating"]
	path = .vim/bundle/speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/bundle/coffee-script"]
	path = .vim/bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
