#!/bin/sh
# Git based syncing for home data such as dot files

update_data() {
	TODIR=$1

	[ -d $TODIR ] || mkdir -p $TODIR || return 1

	# Bin
	[ -d $TODIR/bin ] || mkdir $TODIR/bin
	for ENT in bin/*; do
		if [ -f $ENT ]; then
			cp $ENT $TODIR/bin/$(basename $ENT)
		fi
	done

	# Update control util
	cp control $TODIR/bin/dotdatactl

	# Dot Files
	for ENT in dot/*; do
		DEST=$TODIR/.$(echo $ENT | sed -e 's/^dot\///')
		echo -n "$DEST: "
		if [ -f $ENT ]; then
			[ -f $DEST ] && rm -f $DEST >/dev/null
			if cp $ENT $DEST >/dev/null; then
				echo "done."
			else
				echo "failed."
			fi
		else
			[ -d $DEST ] || mkdir -p $DEST
			ENT="$ENT/"
			DEST="$DEST/"
			if rsync -a -q $ENT $DEST; then
				echo "done."
			else
				echo "failed."
			fi
		fi
	done
}

if [ -z $DOTDATADIR ]; then
	if [ -d .git ]; then
		export DOTDATADIR=$(pwd);
	elif [ -d $HOME/dotdata ]; then
		export DOTDATADIR=$HOME/dotdata
	fi
fi

if ! [ -d $DOTDATADIR ]; then
	echo "Could not determine data directory, set DOTDATADIR or execute from within" >&2
	exit 1
fi

cd $DOTDATADIR

# TODO ssh keys
# TODO don't use rsync
case $1 in
	update)
		update_data $HOME || exit 1
		;;
	export)
		OUT=$2

		if [ -z $OUT ]; then
			echo "Usage $0 export <destination>" >&2
			exit 1
		fi

		DESTDIR=

		case $OUT in
			*.tar|*.tar.*)
				DESTDIR=$(mktemp -d);
				if update_data $DESTDIR; then
					case ${OUT##*.} in
						tar)
							tar -C $DESTDIR -cf $OUT .
							;;
						gz)
							tar -C $DESTDIR -czf $OUT .
							;;
						bz2)
							tar -C $DESTDIR -cjf $OUT .
							;;
						*)
							echo "Unrecognized output file type in $OUT" >&2
							exit 1
							;;
					esac
				fi
				rm -rf $DESTDIR
				;;
			*)
				if ! [ -d $OUT ]; then
					if [ -e $OUT ]; then
						echo "$OUT exists as a non-directory" >&2
						exit 1
					fi
					echo $OUT
					update_data $OUT || exit 1
				fi
				;;
		esac

		;;
	*)
		echo "Missing action to $0" >&2
		exit 1
		;;
esac
