[Desktop Entry]
Type=Application
Exec=/home/jcorbin/.config/discord/app-1.0.157/Discord
Hidden=false
NoDisplay=false
Name=Discord
Icon=/home/jcorbin/.config/discord/app-1.0.157/discord.png
Comment=Text and voice chat for gamers.
X-GNOME-Autostart-enabled=true
